<nav class="bg-white shadow-sm sticky top-0 z-50 border-b border-gray-100">
  <div class="container mx-auto px-4 py-3 flex justify-between items-center">

    <div routerLink="/" class="flex items-center gap-2 cursor-pointer hover:opacity-80 transition">
      <span class="text-2xl">🍃</span>
      <span class="text-xl font-extrabold text-brandGreen tracking-tight">Artı<span class="text-brandDark">Gıda</span></span>
    </div>

    <div class="flex items-center gap-5">
      <button routerLink="/add-listing" class="text-sm font-bold bg-brandGreen text-white px-4 py-2 rounded-lg hover:bg-green-700 transition shadow-sm">
        + Yeni İlan Ekle
      </button>
      <div class="w-9 h-9 bg-brandLight rounded-full flex items-center justify-center text-brandDark font-bold border border-brandGreen cursor-pointer hover:bg-brandGreen hover:text-white transition">
        A
      </div>
    </div>

  </div>
</nav>